#!/bin/sh

set -e

echo "Installing packages..."

{{- if eq .chezmoi.os "linux" }}

# Required linux packages
sudo apt update
sudo apt install -y \
    wget \
    curl \
    git \
    build-essential \
    procps \
    file \
    socat \
    zsh \
    bat

# Install brew
if ! command -v brew >/dev/null 2>&1; then
    echo "Homebrew not found, installing..."
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)" >> ~/brew-install.log 2>&1
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv 2>/dev/null || true)"
fi

brew install \
    fzf \
    zoxide \
    antigen \
    thefuck \
    fd \
    eza

# if ~/antigen.zsh does not exists or is empty, download it
if [ ! -f ~/antigen.zsh ] || [ ! -s ~/antigen.zsh ]; then
    echo "Downloading antigen..."
    curl -L git.io/antigen > ~/antigen.zsh
fi

# Change default shell to zsh
echo "Changing shell to zsh for $USER"
chsh -s /bin/zsh $USER

{{- else }}

echo "{{ .chezmoi.os }} not supported yet!"

{{- end }}
