{{- $choices := list "linux" "wsl" "mac" "windows" -}}
{{- $hosttype := promptChoiceOnce . "hosttype" "What type of host are you on" $choices -}}

{{- $windows_npiperelayPath := "" -}}
{{- if eq $hosttype "wsl" -}}
    {{- $windows_npiperelayPath = promptStringOnce . "npiperelayPath" "Path to npiperelay.exe on Windows" -}}
{{- end -}}

{{- $name := promptStringOnce . "user.git.name" "[GitHub] Name" -}}
{{- $email := promptStringOnce . "user.git.email" "[GitHub] Email" -}}
{{- $signingkey := promptStringOnce . "user.git.signingkey" "[GitHub] SSH signing key (public key)" -}}

[data]
hosttype = {{ $hosttype | quote }}
windows_npiperelayPath = {{ $windows_npiperelayPath | quote }}

[data.user.git]
name = {{ $name | quote }}
email = {{ $email | quote }}
signingkey = {{ $signingkey | quote }}

{{ if lookPath "code" -}}
# chezmoi editor
[edit]
command = "code"
args = ["--wait"]
{{- end }}
