README.md
1Password_WSL.md

{{ if not (eq .chezmoi.os "linux" "darwin") }}
**/*.sh
{{ end }}

{{ if ne .chezmoi.os "windows" }}
**/*.bat
**/*.ps1
{{ end }}

{{ if eq .chezmoi.os "windows" }}
dot_zshrc.tmpl
dot_aliases.zsh.tmpl
dot_antigenrc.tmpl
dot_p10k.zsh
dot_1password-setup.zsh.tmpl
{{ end }}
