# Next level of an ls
# https://github.com/eza-community/eza/tree/main?tab=readme-ov-file#command-line-options
 
alias ls="eza --color=always --icons=always --group-directories-first" 
alias ll="ls -la"
alias l="ls -la"

# chezmoi dotfiles manager
alias cm='chezmoi'

# bat - better cat
alias cat="batcat"

alias c="clear"
alias ws="webstorm"

{{- if eq .hosttype "wsl" }}

# Ctrl + L/R Arrows
bindkey '^[[1;5D' backward-word
bindkey '^[[1;5C' forward-word

# Zoxide fix for WSL
alias cdi="zi"
cd() {
    if [[ $# -eq 0 ]]; then
        builtin cd ~
    else
        if zoxide query "$1" &>/dev/null; then
            builtin cd "$(zoxide query "$1")"
        else
            builtin cd "$1"
        fi
    fi
}

# 1password misc
alias 1p-restart='pkill socat 2>/dev/null; rm -f $SSH_AUTH_SOCK; source ~/.1password-setup.zsh'
alias 1p-kill='pkill socat 2>/dev/null; rm -f $SSH_AUTH_SOCK'

{{- end }}