[user]
	email = {{ .user.git.email }}
	name = {{ .user.git.name }}

[core]
{{ template "git-ssh-command.tmpl" . }}

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[diff]
	colorMoved = default

[init]
	defaultBranch = main
