{{- if eq .hosttype "wsl" }}

export NPIPERELAY_EXE={{ .windows_npiperelayPath }}

export SSH_AUTH_SOCK=~/.1password/agent.sock
if [ ! -S "$SSH_AUTH_SOCK" ]; then
    mkdir -p ~/.1password
    socat UNIX-LISTEN:$SSH_AUTH_SOCK,fork EXEC:"$NPIPERELAY_EXE -ei -s //./pipe/openssh-ssh-agent" &
fi

{{- else if eq .hosttype "mac" }}
export SSH_AUTH_SOCK=~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
{{- else if eq .hosttype "windows" }}
{{- end }}